div#links {
    text-align: right;
}

h1 {
    padding-top: 7%;
    text-align: center;
    color: #0077ff;
    font-size: 48px;
}

input[type="search"] {
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    width: 100%
}

div.buttons {
    padding-top: 5px;
    text-align: center
}

div>input {
    margin: 5px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

form {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}