#links {
    text-align: right;
}

h1 {
    text-align: left;
    color: #0077ff;
    font-size: 48px;
}

#advanced-submit {
    background-color: blue;
    border-color: blue;
    color: white;
    margin-top: 10px;
    margin-left: 572px;
}

#advanced-submit:hover {
    border-color: black;
}

input[type="text"] {
    width: 500px;
}

.advanced-input {
    margin: 10px;
}

.explanation {
    margin-left: 20px;
}

.label {
    float: left;
    width: 180px
}