#links {
    text-align: right;
}

h1 {
    text-align: left;
    color: #0077ff;
    font-size: 48px;
}

.logo {
    margin-top: 7%;
    text-align: center;
    color: #0077ff;
    font-size: 48px;
}

input[type="search"] {
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    width: 100%
}

.buttons {
    padding-top: 5px;
    text-align: center
}

.center-buttons {
    margin: 5px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.large-search {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#advanced-submit {
    background-color: blue;
    border-color: blue;
    color: white;
    margin-top: 10px;
    margin-left: 572px;
}

#advanced-submit:hover {
    border-color: black;
}

.advanced-input>input[type="text"] {
    width: 500px;
}

.advanced-input {
    margin: 10px;
}

.explanation {
    margin-left: 20px;
}

.label {
    float: left;
    width: 180px
}